.page-multiStepCheckoutSummaryPage {
	#cboxLoadedContent {
		#addressbook {
			//gestion adresse sauvegarder
			.addressEntry {
				align-items: flex-end;
				display: flex;
				form {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					width: 200px;
					button {
						padding: 1rem 0.5rem;
						width: 100%;
					}
				}
			}
		}
	}
}

.checkout {
	&-headline {
		font-family: 'playfairdisplay-bold', arial, sans-serif;
		font-size: 56px;
		margin: 0 0 60px;
		padding: 32px 25px 32px 80px;
		position: relative;
		@media @mquery-desktop {
			font-size: 40px;
			margin: 0 0 30px;
			padding: 16px 12px 16px 40px;
		}
		.icon {
			background-size: auto 200%;
			height: 34px;
			left: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) rotate(-90deg);
			width: 34px;
			@media @mquery-desktop {
				height: 17px;
				left: 10px;
				width: 17px;
			}
		}
	}
	&-help {
		display: none; // hided with CdP consent
	}
	&-paymentmethod {
		@media @mquery-desktop {
			padding: 42px 24px;
		}
	}
	&-shipping {
		&--choices {
			padding: 40px 48px;
			@media @mquery-desktop {
				padding: 35px 0;
			}
		}
	}
	&-saved-payments {
		display: none;
	}
	&-steps {
		padding: 0 0 40px;
		@media @mquery-desktop {
			padding: 0 0 80px;
		}
		.button {
			font-size: 40px;
			width: 100%;
			@media @mquery-desktop {
				font-size: 20px;
				width: inherit;
			}
		}
		.form {
			padding: 40px 48px;
			@media @mquery-desktop {
				padding: 0;
			}
		}
		.step-body {
			padding: 0 0 74px;
			@media @mquery-desktop {
				padding: 0 0 37px;
			}
		}
		.step-head {
			&-number {
				background-color: @color-concrete;
				font-family: 'roboto-bold', arial, sans-serif;
				font-size: 48px;
				height: 128px;
				min-width: 128px;
				position: relative;
				@media @mquery-desktop {
					font-size: 24px;
					height: 64px;
					min-width: 64px;
				}
				>span {
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&-text {
				font-family: 'playfairdisplay-bold', arial, sans-serif;
				font-size: 40px;
				padding: 0 47px;
				@media @mquery-desktop {
					font-size: 24px;
					padding: 0 24px;
				}
			}
			&-title {
				align-items: center;
				border: 1px solid @color-concrete;
				display: flex;
				padding: 3px;
				position: relative;
				.icon--edit {
					display: none;
					@media @mquery-desktop {
						background-position: right 1rem center;
						background-size: auto 50%;
						display: block;
						height: 100%;
						opacity: 0.5;
						position: absolute;
					}
				}
			}
		}
		.headline {
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			padding: 24px 0;
			@media @mquery-desktop {
				font-size: 16px;
				padding: 12px 0;
			}
		}
	}
}
