.language-switcher {
	position: relative;
	.item {
		background-color: @header-background-color;
		padding-right: 1.5em;
		width: 2.5em;
	}
	.item.active {
		background: url('@{img-theme-path}arrow-down-red-15x8.png') no-repeat 80% 50%;
	}
	.items-wrapper {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
	}
	img {
		height: auto;
		width: 100%;
	}
	.mobile-lang-switcher & {
		background-color: @color-carnation;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;
		.item {
			background-color: @color-carnation;
			padding: 0;
			width: 100%;
			&.active {
				background: url('@{img-theme-path}svg/arrow-down-white.svg') no-repeat 100% 50%;
				background-size: 35% auto;
			}
			img {
				margin: 0 0 0 0.5rem;
				width: 55%;
			}
		}
		.items-wrapper {
			.item {
				border-radius: 5px;
				padding: 0 0 1rem;
				&:nth-child(1) {
					padding: 1rem 0;
				}
			}
		}
	}
}
.mobile-lang-switcher {
	position: relative;
}
.lang-switcher {
	@media @mquery-desktop {
		display: none;
	}
}
