.login-section {
	&--buttons {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 40px;
		@media @mquery-desktop {
			font-size: 20px;
		}
		.button {
			width: 100%;
			@media @mquery-desktop {
				padding: 20px;
				width: 65%;
			}
		}
	}
	&--description {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 32px;
		padding: 40px 48px 0;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 20px 0 0;
		}
	}
	&--forgotten-password {
		margin: 0 0 36px;
		@media @mquery-desktop {
			margin: 0 0 18px;
		}
		a {
			color: @color-secondary;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
	}
	&--title {
		align-items: center;
		border: 1px solid @color-mercury;
		display: flex;
		padding: 3px;
		.icon {
			background-color: @color-concrete;
			background-size: 40% auto;
			height: 128px;
			width: 128px;
			@media @mquery-desktop {
				background-size: 50% auto;
				height: 64px;
				width: 64px;
			}
		}
		.title {
			font-family: 'playfairdisplay-bold', arial, sans-serif;
			font-size: 40px;
			font-weight: bold;
			padding: 0 47px 0 20px;
			@media @mquery-desktop {
				font-size: 24px;
				padding: 0 25px 0 20px;
			}
		}
	}
}

#colorbox {
	#cboxWrapper {
		#cboxContent {
			#cboxLoadedContent {
				.forgotten-password {
					.description {
						font-size: 0.7rem;
					    margin: 0.9rem 0 0.5rem 0;
						@media @mquery-desktop {
							margin: 67px 0 0 0;
						}
					}
					#forgottenPwdForm {
						.control-group {
							button {
								background-color: @color-carnation;
								border-color: @color-carnation;
								border-radius: 6px;
								padding: 0.5rem;
							}
						}
					}
				}
			}
			#cboxTitle {
			    padding: 1rem 0.576923rem 1.5384615384615383rem 0.769230769230769rem;
			}
		}
	}
}
