.navigation {
	background-color: @nav-background-color;
	&--bottom {
		border-bottom: 1px solid @color-alto;
		@media (max-width: @screen-sm-max) {
			border-bottom: 0;
		}
	}
	&--left {
		display: none;
		@media screen and @mquery-desktop-min {
			display: flex;
			width: 37%;
		}
		&--logo {
			align-self: center;
			margin: auto;
			padding: 0 6.41%;
			width: 33.43%;
			img {
				height: auto;
				margin: auto;
				width: 100%;
			}
		}
		&--shop {
			margin: 0 auto;
			text-transform: uppercase;
			width: 66.57%;
			>a {
				color: @color-carnation;
				display: inline-block;
				font-size: 20px;
				font-weight: 600;
				margin: 0 1%;
				position: relative;
				text-align: center;
				text-decoration: none;
				width: 31%;
				img {
					display: block;
					margin: auto;
				}
			}
		}
		.nav__links--primary {
			&:nth-child(1) {
				@media @mquery-desktop {
					margin-left: 12%;
				}
			}
			.sub__navigation {
				opacity: 0.99;
				@media @mquery-desktop {
					width: 100%;
				}
				.row {
					@media @mquery-desktop {
						display: flex;
						flex-wrap: wrap;
						max-width: 60%;
						margin: auto auto auto 11.5%;
						padding: 20px 0 116px;
						position: relative;
					}
					&.navigation-banner {
						display: block;
						left: 70%;
						margin: 0;
						position: absolute;
						top: 0;
					}
					.banner__component.banner {
						&:nth-child(2) {
							top: 12em;
						}
					}
					.col-md-2 {
						@media @mquery-desktop {
							width: 25%;
						}
					}
					.sub-navigation-section .sub-navigation-list li {
						@media @mquery-desktop {
							background-color: transparent;
						}
						&.nav__link--secondary {
							a {
								@media @mquery-desktop {
									font-family: 'roboto-light', arial, sans-serif;
									font-size: 16px;
									margin: 0;
									padding: 0;
									text-transform: none;
								}
							}
						}
					}
					.title {
						@media @mquery-desktop {
							font-family: 'roboto-bold', arial, sans-serif;
							font-size: 16px;
							text-transform: none;
						}
					}
				}
			}
		}
	}
	&--middle {
		display: none;
		@media screen and @mquery-desktop-min {
			display: block;
			margin: auto;
			width: 37%;
		}
		&--site-search {
			margin-left: 5%;
			margin-top: 0.5%;
		}
	}
	&--mobile {
		width: 100%;
		@media screen and @mquery-desktop-min {
			display: none;
		}
	}
	&--right {
		display: none;
		@media screen and @mquery-desktop-min {
			display: block;
			margin: 0 18px 0 auto;
			text-align: right;
			width: 26%;
		}
		&-item {
			float: left;
		}
		&-item--margin {
			margin-top: 5%;
		}
	}
	&--wrapper {
		display: flex;
		padding: 0;
		@media screen and @mquery-desktop-min {
			padding: 0.5% 0;
		}
	}
	.myAccountLinksContainer {
		.icon {
			background-size: 50%;
			display: none; // hide because not ask in design but to future purpose
			position: absolute;
			right: 0;
			top: 0;
			width: 18.25%;
		}
	}
	.sticky-nav-top {
		background-color: @color-carnation;
		color: @color-white;
		margin: 0;
		padding: 0;
		>li {
			display: flex;
			flex-direction: row;
			position: relative;
			.close-nav {
				bottom: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 18.5%;
				button {
					background-color: transparent;
					border-left: 1px solid @color-white;
					height: 100%;
					width: 100%;
				}
			}
			.mobile-lang-switcher {
				width: 21.5%;
			}
			.user-name {
				.ellipsisString();
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 32px;
			}
			.userGroup {
				direction: ltr;
				display: flex;
				padding: 20px 0;
				width: 60%;
				.icon {
					background-size: 45%;
					width: 20.45%;
				}
				.userName {
					width: 79.55%;
				}
			}
			.userSign {
				color: @color-white;
				display: flex;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 40px;
				padding: 13px 0;
				text-align: center;
				width: 100%;
				.icon {
					display: none;
				}
				.navbar--sign-in--link {
					width: 100%;
				}
			}
		}
	}
	.sub-navigation-section {
		.title {
			background: url('@{img-theme-path}svg/plus.svg') no-repeat 97% center;
			background-size: 8%;
			@media @mquery-tablet-l {
				background: none;
			}
			&.open {
				background: url('@{img-theme-path}svg/minus.svg') no-repeat 97% center;
				background-size: 8%;
				@media @mquery-tablet-l {
					background: none;
				}
			}
		}
	}
}
