.account-section-content{
	div {
		@media (max-width: @screen-sm-max) {
			text-align: center;
		}
		#orderSortBySelectFilter {
			border-color: @border-color-3;
			border-radius: 6px;
			padding: 6px;
			@media (max-width: @screen-sm-max) {
				font-size: 1.6rem;
				padding: 15px;
				width: 80%;
			}
		}
	}
}

.account-orderhistory {
	.account-overview-table {
		border-top: 1px solid @border-color-3;
		margin-top: 20px;
		#orderHistoryDataTable_wrapper {
			margin-top: 2rem;
			.orderhistory-list-table{
				thead {
					.account-orderhistory-table-head {
						background-color: #e8e8e8;
						th {
							background-position: center left;
							padding: 0.7rem 0.7rem 0.7rem 1.2rem;
						}
						.sorting {
							color: #b6b6b6;
							font-weight: bold;
						}
					}
				}
				tbody {
					.odd {
						background-color: @color-concrete;
					}
					tr {
						td {
							padding: 0.7rem;
							@media (max-width: @screen-sm-max) {
								border-top: 0;
								display: flex;
								font-size: 1rem;
								justify-content: space-between;
								padding: 0 1.7rem;
								&:first-child {
								padding-top: 1.5rem;
								}
								&:last-child {
									padding-bottom: 1.5rem;
								}
							}
							.responsive-table-item--left {
								font-weight: 800;
							}
						}
					}
				}
			}
			#orderHistoryDataTable_paginate {
				.paginate_button {
					border: 1px solid @border-color-3;
					border-radius: 6px;
					margin: 3rem 0.1rem;
			    	padding: 0.3rem 0.8rem;
			    	&:hover {
			    		background: none;
			    		background-color: none;
			    		color: #333;
			    	}
				}
				.previous{
					color: @color-carnation;
					&:hover {
						color: @color-carnation;
					}
				}
				.next {
					color: @color-carnation;
					&:hover {
						color: @color-carnation;
					}
				}
				.current {
					background: none;
					background-color: @color-carnation;
					box-shadow: none;
					color: #fff;
					&:hover {
						background-color: @color-carnation;
						color: #fff;
					}
				}
			}
		}
		.account-history-found {
			@media (max-width: @screen-sm-max) {
				font-size: 1.3rem;
			    margin: 0 auto;
			    text-align: left;
    			width: 80%;
			}
		}
	}
}
