.product-tile {
	padding: 8px;
	position: relative;
	width: 396px;
	@media @mquery-desktop {
		width: inherit;
	}
	&--buttons {
		display: flex;
		flex-direction: row;
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 24px;
		justify-content: space-between;
		@media @mquery-desktop {
			font-size: 12px;
		}
		&-item {
			width: 48%;
			#idFav {
				@media @mquery-desktop {
					font-size: 0.59rem;
				}
				@media @mquery-mobile-max {
					font-size: 0.7rem;
				}
			}
		}
		.add-button-cart {
			.add-button-toCart {
				@media @mquery-desktop {
					font-size: 0.59rem;
				}
				@media @mquery-mobile-max {
					font-size: 0.7rem;
				}
			}
		}
	}
	&--name {
		color: @color-black; // .ellipsisString();
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 26.02px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
		@media @mquery-desktop {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	&--price {
		margin: auto auto 0;
		text-align: center;
		.price {
			text-align: center;
			&--base {
				font-size: 26.02px;
				@media @mquery-desktop {
					font-size: 16px;
				}
			}
			&--discount {
				font-size: 26.02px;
				@media @mquery-desktop {
					font-size: 16px;
				}
			}
			&--strike {
				font-size: 22.77px;
				margin-right: 20px;
				@media @mquery-desktop {
					font-size: 14px;
				}
			}
		}
	}
	&--qty-selector {
		margin: 30px auto 20px;
		width: 50%;
		@media @mquery-desktop {
			margin: 15px auto 10px;
		}
	}
	&--thumb {
		margin: 0 0 30px 0;
		position: relative;
		text-align: center;
		@media @mquery-desktop {
			margin: 0 0 15px 0;
		}
		.price--sticker {
			align-items: center;
			border-radius: 100%;
			bottom: 0;
			display: flex;
			height: 70px;
			justify-content: center;
			padding: 7px 14px;
			position: absolute;
			right: 0;
			width: 70px;
			@media @mquery-desktop {
				bottom: inherit;
				padding: 4px 7px;
				top: 0;
			}
		}
		img {
			height: auto;
			margin: auto;
			width: 70%;
		}
	}
	&--wrapper {
		border-radius: 6px;
		/* display: flex;
		flex-direction: column;
		justify-content: space-between; */
		min-height: 100%;
		position: relative;
		width: 100%;
	}
	&:active,
	&:hover {
		box-shadow: 0px 0px 8pxi fade(@color-rolling-stone, 50%);
	}
	a {
		min-height: 100%; // fix for IE10
	}
	.button {
		display: block;
		padding: 16px 0;
		width: 100%;
		@media @mquery-desktop {
			padding: 8px 0;
			font-size: 0.69rem;
		}
		.icon {
			margin-bottom: 8px;
			@media @mquery-desktop {
				padding: 4px;
			}
		}
	}
	.configure_form {
		display: none;
	}
	.sticker {
		position: absolute;
		top: 0;
	}
}
