.product-facet {
	margin: auto;
	text-align: left;
	&--applied {
		.icon {
			display: inline-block;
			width: 7%;
			@media @mquery-desktop {
				width: 10%;
			}
		}
	}
	&--container {
		border-bottom: 1px solid @color-alto;
		border-top: 1px solid @color-white;
		padding: 24px;
		position: relative;
		&:last-child {
			border-bottom: 0;
		}
		&.active {
			.product-facet--name>span:before {
				background: url('@{img-theme-path}svg/minus-carnation.svg') no-repeat center center;
			}
			.product-facet--values {
				display: block;
			}
		}
		&:after {
			border-right:1px solid @color-alto;
			bottom: 10%;
			content: '';
    		height: 80%;
    		position: absolute;
   		right: -15px;
		}
	}
	&--count {
		color: @color-carnation;
	}
	&--name {
		@media @mquery-desktop {
			margin: 0 0 10px;
		}
		>span {
			box-sizing: border-box;
			display: block;
			font-family: 'playfairdisplay-regular', serif;
			font-size: 36px;
			position: relative;
			width: 100%;
			@media @mquery-desktop {
				font-size: 24px;
			}
			&:before {
				background: url('@{img-theme-path}svg/plus-carnation.svg') no-repeat center center;
				background-size: auto 100%;
				content: '';
				height: 1.3em;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1.3em;
				@media @mquery-desktop {
					content: none;
				}
			}
			span {
				.ellipsisString();
			}
		}
	}
	&--title {
		border-bottom: 1px solid @color-alto;
		font-family: PlayfairDisplay;
		font-size: 60px;
		font-weight: 600;
		padding: 4% 24px 4%;
		@media @mquery-desktop {
			font-size: 40px;
		}
	}
	&--values {
		display: none;
		margin: 1rem 0 0;
		@media @mquery-desktop {
			display: block;
			margin: 0;
		}
		&-list {
			list-style-type: none;
			padding: 0;
		}
		a {
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 24px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
	}
	form {
		line-height: normal;
	}
	label {
		color: @text-color;
		cursor: pointer;
		display: flex;
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 24px;
		font-weight: inherit;
		justify-content: space-between;
		margin: 0;
		padding: 9px 0;
		text-transform: inherit;
		@media @mquery-desktop {
			font-size: 16px;
		}
	}
}
