.reassurance-delivery {
	background-color: @color-reassurance-bg;
	.clearfix();
	.svgColor(@color-black);
	@media @mquery-desktop {
		padding: 40px 0;
	}
	&--wrapper {
		margin: auto;
		@media @mquery-desktop {
			width: unit((1400px / 1920px) * 100, %);
		}
	}
	.item {
		position: relative;
		@media @mquery-desktop {
			text-align: center;
			width: 33%;
		}
		&:after {
			@media @mquery-desktop {
				background-color: @color-black;
				content: '';
				display: block;
				height: 1.2em;
				.valign(50%, inherit);
				right: 0;
				width: 1pxi;
			}
		}
		&:nth-last-child(1) {
			&:after {
				@media @mquery-desktop {
					display: none;
				}
			}
		}
		&--label {
			color: @color-reassurance-delivery-label;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 24px;
			position: relative;
			text-align: center;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		.icon {
			background-size: auto 100%;
			height: 3rem;
			margin: 0 auto 25px;
			width: 100%;
			@media @mquery-desktop {
				background-size: auto 55%;
				left: -3.3rem;
				margin: 0;
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				width: 40%;
			}
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 30px 0 30px;
		width: 100%;
		@media @mquery-desktop {
			margin: 0;
		}
	}
	li {
		width: 33%;
		@media @mquery-desktop {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
	span {
		display: block;
	}
}
