.sticker {
	position: absolute;
	z-index: 1;
	&--price {
		align-items: center;
		background-color: #ef5664;
		border-radius: 100%;
		bottom: 0;
		color: #FFF;
		display: flex;
		height: 80px;
		justify-content: center;
		padding: 7px 14px;
		position: absolute;
		right: 0;
		top: 0;
		width: 80px;
		@media @mquery-desktop {
			bottom: inherit;
			padding: 4px 7px;
			top: 0;
		}
	}

	img {
		height: 80px;
		width: 80px;
	}
}
