## messageSource=classpath:/sharjahcore/messages/email-deliverySent_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

#if (${ctx.messages.lang} == "ar")
  <html dir="rtl" lang="ar">
#else
  <html>
#end
	<head>
	</head>
	<body bgcolor="#ffffff"
	#if ( $ctx.isGuest() )
	    #set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.orderGuid}")
	#else
	    #set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.orderCode}")
	#end
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									#if (${ctx.messages.lang} == "ar")
										<td align="right" valign="top" >
									#else
										<td align="left" valign="top" >
									#end
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation',${ctx.displayName})}</b>,</font></p>
										#if(${ctx.messages.thankYouForOrder})
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.thankYouForOrder}</font></p>
										#end
										#if(${ctx.messages.paragraph1ar} ne "")
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph1ar} ${ctx.orderCode} ${ctx.messages.paragraph2ar}</font></p>
										#end
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph1} <a href="${ctx.messages.deliveryUrl}"><font color="#666666">${ctx.messages.link}</font></a></font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph2}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph3} <a href="${ctx.baseUrl}/my-account/order/${ctx.orderCode}"><font color="#666666">${ctx.messages.here}</font></a></font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph4}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature1}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature2}</font></p>

										<br/>
										<br/>
										#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
										#if(${ctx.baseSite.Uid} == "sharjah")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs_sharjah', "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#else
										#set ($faqPage = "${ctx.baseUrl}/faq")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#end
										#if (${ctx.consignment.trackingID})
											<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('track', ${ctx.consignment.trackingID})}</font></p>
										#end
									</td>
								</tr>

							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>