body {
	color: @text-color;
	font-family: @font-family-base, arial, sans-serif;
	.js & {
		overflow: hidden;
		@media screen and @mquery-desktop-min {
			overflow: none;
		}
	}
	a {
		color: @link-color;
		display: block;
	}
}
