.content {
	&--overflow {
		&-hidden {
			overflow: hidden;
		}
	}
}

#content {
	@media @mquery-desktop {
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.page-homepage & {
		@media @mquery-desktop {
			padding-top: 0;
		}
	}
}


#wrapper-content {
	width: 100%;
	@media @mquery-desktop {
		margin: auto;
		width: @wrapper-page-content-width-desktop;
	}
	.page-homepage & {
		@media @mquery-desktop {
			width: 100%;
		}
	}

	.page-productDetails & {
		@media @mquery-desktop {
			width: 100%;
		}
	}
}

.page-productDetails #wrapper-content {
	width: 100%;
	@media @mquery-desktop {
		margin: auto;
		width: @wrapper-page-content-width-desktop;
	}
}
