.footer {
	background-color: @color-concrete;
	&--container {
		@media screen and @mquery-desktop-min {
			padding: 0 12% 3%;
		}
		&--top {
			@media screen and @mquery-desktop-min {
				border-top: 1px solid @color-rolling-stone;
				padding: 0 3%;
			}
			&--content {
				display: flex;
				flex-direction: column;
				padding-top: 10%;
				@media screen and @mquery-desktop-min {
					flex-direction: row;
					justify-content: space-between;
					padding-top: 3%;
				}
				&--item {
					margin-bottom: 18%;
					text-align: center;
					@media screen and @mquery-desktop-min {
						margin-bottom: 3%;
						text-align: left;
					}
					&:last-child {
						@media screen and @mquery-desktop-min {
							margin-left: 8%;
						}
					}
					&-link {
						list-style: none;
						padding: inherit;
						text-align: center;
						@media screen and @mquery-desktop-min {
							margin-top: 21%;
							text-align: left;
						}
						li {
							@media screen and @mquery-desktop-min {
								line-height: 0;
							}
							a {
								color: @color-rolling-stone;
								font-size: 28px;
								line-height: 1.71;
								opacity: 0.5;
								@media screen and @mquery-desktop-min {
									font-size: 14px;
								}
							}
						}
					}
					&-socialMedia {
						display: inline-block;
						margin-bottom: 0;
						margin-top: 5%;
						padding: 0;
						width: 100%;
						@media screen and @mquery-desktop-min {
							width: 80%;
						}
						a {
							color: transparent;
							display: block;
							position: relative;
							width: 100%;
							&:before {
								content: '';
								height: 285%;
								position: absolute;
								right: 57%;
								top: 25%;
								transform: translate(50%);
								width: 56%;
								@media screen and @mquery-desktop-min {
									right: 70%;
									top: -25%;
								}
							}
						}
						.sc {
							a {

								&:before {
									background: url('@{img-common-path}icons/icon-snapchat.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.ig {
							a {

								&:before {
									background: url('@{img-common-path}icons/icon-instagram.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.tw {

							a {

								&:before {
									background: url('@{img-common-path}icons/icon-twitter.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.fb {
							a {
								&:before {
									background: url('@{img-common-path}icons/icon-facebook.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						li {
							display: inline-block;
							margin: 0 1%;
							width: 20%;
							@media screen and @mquery-desktop-min {
								margin: 0;
							}
						}
					}
					&-title {
						font-family: PlayfairDisplay;
						font-size: 32px;
						font-weight: bold;
						text-transform: uppercase;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
						}
					}
				}
			}
		}
		&--bottom {
			padding: 4% 8%;
			@media screen and @mquery-desktop-min {
				border-bottom: 1px solid @color-rolling-stone;
				border-top: 1px solid @color-rolling-stone;
				display: flex;
				padding: 0 3%;
			}
			&--breadcrumb {
				border-bottom: 1px solid @color-rolling-stone;
				border-top: 1px solid @color-rolling-stone;
				padding: 7% 0;
				@media screen and @mquery-desktop-min {
					border: 0;
					padding: 1% 0;
					width: 24%;
				}
				&-list {
					display: inline-block;
					margin: 0;
					padding: 0;
					width: 100%;
					li {
						border-right: 1px solid @color-carnation;
						color: @color-thunder;
						display: inline-block;
						font-size: 24px;
						list-style-type: none;
						margin-bottom: 0;
						text-align: center;
						@media screen and @mquery-desktop-min {
							font-size: 14px;
						}
						a {
							color: @color-thunder;
							text-decoration: none;
						}
						&:first-child {
							border-right: 1px solid @color-carnation;
							text-align: left;
							width: 18%;
						}
						&:nth-child(2) {
							width: 27%;
						}
						&:nth-child(3) {
							width: 26%;
						}
						&:last-child {
							border-right: 0;
							text-align: right;
							width: 29%;
						}
					}
				}
			}
			&--copyright {
				color: rgba(35, 31, 32, 0.5);
				font-family: 'roboto', arial, sans-serif;
				font-size: 28px;
				font-weight: 300;
				line-height: 2.57;
				margin-top: 4%;
				opacity: 0.5;
				text-align: center;
				@media screen and @mquery-desktop-min {
					margin: auto;
					text-align: right;
					width: 74%;
					font-size: 14px;
				}
			}
		}
	}
}
