<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=${googleManagerKey}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
