	ul.nav__links {

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			float: left;
			list-style-type: none;
		}

		&::after {
			clear: both;
		}

		@media (max-width: @screen-sm-max) {
			&:before {
				content: ' ';
				display: table;
			}
		}
	}

	.branding-mobile {
		padding: 10px 0 9px 0;
		border-bottom: solid 1px @nav-border-color;
		z-index: 9999;
		background-color: @header-background-color;
		.full-width-padding();
	}

	.navigation.navigation--top {
		.full-width-padding();
	}

	.navigation--top .nav__left {
		padding: 9px 0 7px;

		.simple-banner-component img,
		.banner__component img {
			width: auto;
		}
	}

	.miniCartSlot>div[data-ng-transclude] {
		display: inline-block;
	}

	.navigation--top .nav__right {

		.nav__links--account {
			margin: 0;
			padding-left: 0;
			float: right; // This is a alternative approach to deal with smartedit
			div[data-smartedit-component-id='HeaderLinksSlot'] {
				display: inline-block;
				float: left;

				li:last-child a {
					padding-right: 12px;
				}
			}

			li {
				display: inline-block;
				font-size: 12px;
				color: @meta-nav-color;
				font-weight: 400;
				text-transform: uppercase;

				&:last-child {
					a {
						padding-right: 0;
					}
				}

				&.logged_in {
					padding: 10px;
				}

				button {
					background: transparent none repeat scroll 0% 0%;
					border: medium none;
					color: rgb(0, 104, 179);
					font-size: 1em;
					text-transform: uppercase;

					&:hover {
						background: none;
						text-decoration: none;
						color: @meta-nav-hover-color;
					}
				}

				a {
					color: inherit;
					cursor: pointer;
					text-transform: uppercase;
					font-weight: 400;
					padding: 12px;
					display: block;
					font-size: 1em;
					line-height: 1.329em;

					&:hover {
						text-decoration: none;
						color: @meta-nav-hover-color;
					}
				}
			}

			.myAccountLinksHeader.collapsed,
			.myCompanyLinksHeader.collapsed {
				background-color: transparent;
				color: inherit;

				&::after {
					clear: both;
				}

				&:hover,
				&:focus {
					color: @meta-nav-hover-color;
					text-decoration: none;
				}
			}

			.myAccountLinksHeader,
			.myCompanyLinksHeader {
				background-color: @meta-nav-background;
				color: @meta-nav-color-open;
				text-decoration: none;
				height: 40px;
			}
		}
	}

	#accNavComponentDesktopOne,
	#accNavComponentDesktopTwo {
		background-color: @meta-nav-background;
		padding: 0;

		ul.nav__links {
			// width: 100%;
			margin-bottom: 0px;
			padding: 0px;

			li {
				border-bottom: 1px solid @meta-nav-border-color;
				border-right: 1px solid @meta-nav-border-color;
				color: @meta-nav-color;
				font-size: 12px;
				font-weight: 400;
				list-style: none;
				padding: 0;
				text-transform: capitalize;

				&:hover {
					background-color: @meta-nav-hover-background;
				}

				a {
					color: @meta-nav-color-open;
					display: block;
					font-size: 16px;
					font-weight: 400;
					padding: 25px 0 25px 30px;
					@media @mquery-desktop {
						color: @meta-nav-color-open-desktop;
						padding: 10px 20px 10px 57px;
						background-size: 0.9rem 0.9rem;
						background-position: left 0.75rem center;
					}

					&:hover {
						text-decoration: none;
					}
				}
				a.signout {
					color: @color-carnation;
				}
			}
		}
	}

	.site-search {
		background-color: @header-background-color;
		z-index: 1000;

		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			margin-left: -10px;
		}

		@media (max-width: @screen-md) {
			padding-left: 0;
		}

		@media (max-width: @screen-xs-max) {
			&.active {
				display: block!important;
			}
			left: 0;
			position: absolute;
			width: 100%;
		}

		.ui-front {
			@media screen and @mquery-desktop-min {
				padding: (@grid-gutter-width/2) 0px;
			}
		}

		.glyphicon-search {
			color: @searchbar-icon-color;
			font-size: 17px;
		}

		ul.ui-autocomplete {
			display: none;
			position: absolute;
			background: @autocomplete-background;
			font-size: 24px;
			left: 0;
			right: 0;
			-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
			box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
			padding-left: 0;
			padding-top: 0;
			list-style: none;
			margin: 0;
			width: 100%;
			z-index: 1000;

			@media screen and @mquery-desktop-min {
				width: 37%;
				font-size: 18px;
			}

			li {
				border-top: 1px solid @border-color-2;
				display: block;
				width: 100%;
				padding: 10px;

				a {
					display: table;
					width: 100%;
					color: inherit;
					text-decoration: none;
				}

				.thumb {
					display: table-cell;
					vertical-align: middle;
					padding: 0 10px 0 0;
					>img {
						height: 96pxi;
						width: 96pxi;
					}
				}

				.name {
					display: table-cell;
					padding: 10px;
					vertical-align: middle;
					width: 55%;
				}

				.thumb+.name {
					padding: 0 10px;
				}

				.price {
					display: table-cell;
					vertical-align: middle;
					padding: 0 10px;
					text-align: right;
					width: 25%;
				}
			}

			li.ui-state-focus {
				border-left: none;
				border-right: none;
				border-bottom: none;
				margin: 0;
				background: @table-2n-line-bg;
				color: @text-color;
			}
		}

		ul.ui-autocomplete.active {
			display: block;
		}
	}

	.navigation--middle {
		@mobile-nav-icon-font-size: 30px;
		@media (max-width: @screen-xs-max) {
			//display: table;
			//width: 100%;
		}

		.nav__table {
			@media (max-width: @screen-xs-max) {
				//display: table-row-group;
			}
		}

		.row {
			@media (max-width: @screen-xs-max) {
				//display: table-row;
				&:first-child {
					border: none;
				}
			}
		}

		.btn {
			background-color: transparent;
			width: 100%;
			padding: 0;
			height: 100%;
			color: @btn-primary-bg;
			border: none;
		}

		@media (min-width: @screen-md) {
			padding-left: 30px;
			padding-right: 30px;
		}


		.nav__right {
			padding-right: 25px;

			@media (max-width: @screen-md) {
				padding-right: 20px;
			}

			ul.nav__links--shop_info {
				margin-bottom: 0;

				@media (max-width: @screen-md) {
					padding-left: 10px;
				}

				@media (min-width: @screen-sm) {
					float: right;
				}

				@media (max-width: @screen-xs-max) {
					border-left: 1px solid @nav-border-color;
					display: table-cell;
					text-align: center;
					vertical-align: top;
					padding: 0;

					li {
						float: none;
					}
				}

				.componentContainer .yCmsComponent {
					@media (min-width: @screen-sm) {
						display: inline;
					}
				}

				.nav-location {
					min-width: 60px;
					border-left: 1px solid @nav-border-color;
					border-right: 1px solid @nav-border-color;

					span {
						font-size: 30px;
						top: 27%;
						color: @nav-icon-color;
					}

					@media (min-width: @screen-sm) {
						float: right;
						padding: 0px 10px;
					}

					@media (min-width: @screen-md) {
						padding: 0px 30px;
					}
				}
			}
		}

		.componentContainer {
			@media (max-width: @screen-xs-max) {
				text-align: center;
				vertical-align: top;
				border-left: 1px solid @nav-border-color;
			}
		}

		.nav-order-tools,
		.nav-location,
		.nav-cart {
			height: @navigation--middle-height;
		}

		.nav-order-tools,
		.nav-location,
		.nav-cart,
		.btn {
			&:hover,
			&:active,
			&:focus {
				background-color: @nav-icon-hover-background;
				box-shadow: none;
			}
		}

		.nav-cart {
			float: right;
			padding: 0 10px;

			@media (min-width: @screen-sm) {
				padding-left: 30px;
			}

			@media (max-width: @screen-xs-max) {
				position: relative;
				float: none;
				padding: 0;
			}

			.mini-cart-price {

				@media (min-width: @screen-sm) {
					overflow: hidden;
					margin-left: 5px;
					margin-right: 5px;
					float: right;
					font-size: 16px;
					font-weight: 600;
					position: relative;
					top: 4px;
				}
			}

			.mini-cart-link {
				color: @nav-icon-color;

				@media (min-width: @screen-sm) {
					line-height: 55px;
					white-space: nowrap;
				}

				@media (max-width: @screen-xs-max) {
					display: block;

					.mini-cart-icon {
						color: @nav-icon-color;
						left: -7px;
						top: 10px;

						.glyphicon-shopping-cart {
							width: @mobile-nav-icon-font-size;
							font-size: 22px;
							position: relative;
							right: -6px;
							top: 3px;
						}
					}
					.mini-cart-count {
						font-size: 12px;
						position: absolute;
						right: 44%;
						top: -13px;
						margin: 0;
					}
					.nav-items-total {
						display: inline-block;
						background-color: @nav-icon-color-secondary;
						border-radius: 50%;
						height: 25px;
						width: 25px;
						color: @btn-primary-color;
						line-height: 25px;
					}
				}
			}

			.mini-cart-count {

				float: right;
				font-size: 12px;
				text-transform: uppercase;

				.nav-items-total {
					position: relative;
					right: 0px;
					top: 5px;
				}
			}

			.mini-cart-icon {
				@media (min-width: @screen-sm) {
					float: right;
					position: relative;
					top: 5px;
				}

				.glyphicon-shopping-cart {
					font-size: 22px;

					@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
						margin-left: 5px;
					}
				}
			}
		}

		.mobile__nav__row {

			@media (max-width: @screen-xs-max) {
				&.mobile__nav__row--table,
				.mobile__nav__row--table {
					display: table !important;
					width: 100%;
				}

				.mobile__nav__row--table-group {
					display: table-row-group !important;
				}

				.mobile__nav__row--table-row {
					display: table-row !important;

					&:before {
						display: table;
						content: ' ';
					}
				}

				.mobile__nav__row--table-cell {
					display: table-cell !important;
					vertical-align: top;
				}


				.nav__links--shop_info .componentContainer {
					margin-bottom: 0;
					overflow: hidden;
				}

				span.glyphicon-align-justify {
					position: relative;
					cursor: pointer;
					margin: 0 auto;
					color: @nav-icon-color;
					font-size: 29px;
					top: 2px;
				}

				.componentContainer .nav-order-tools,
				.componentContainer .nav-cart {
					font-size: 30px;
					line-height: @navigation--middle-height;
					padding: 0;
					width: 100%;
				}

				.componentContainer .mobile__nav__row--table-cell {
					border-right: 1px solid @nav-border-color;

					&:last-child {
						border-right: none;
					}
				}
			}

			.mobile__nav__row--seperator {
				@media (max-width: @screen-xs-max) {
					border-left: 1px solid @nav-border-color;
				}
			}
		}

		.mobile__nav__row--btn {
			@media (max-width: @screen-xs-max) {
				padding: 0;
				vertical-align: top;
				height: @navigation--middle-height;
				font-size: 30px;
				line-height: @navigation--middle-height;

				.nav-order-tools,
				.mini-cart-link,
				.mobile__nav__row--btn-search {
					font-size: @mobile-nav-icon-font-size;
					line-height: @mobile-nav-icon-font-size*2;
					padding: 0;
					width: 100%;

					&:hover,
					&:focus,
					&:active {
						background-color: @nav-icon-hover-background;
						color: @btn-primary-bg;
						text-decoration: none;
					}
				}

				span.glyphicon {
					color: @nav-icon-color;
				}
			}
		}

		.mobile-menu {
			height: @navigation--middle-height;

			button {
				font-size: 18px;
				line-height: 1.33;
				border-radius: 0;
				height: 100%;
				width: 100%;
				padding: 0px;
			}

			span {
				position: relative;
				cursor: pointer;
				margin: 0 auto;
				color: @nav-icon-color;
				font-size: 29px;
				top: 2px;
			}
		}
	}

	.navigation--bottom {
		// background-color: @nav-cat-background;
		// border-bottom: 1px solid @nav-cat-border;
		// @media (max-width: @screen-sm-max) {
		// 	border-bottom: none;
		// }
		// .sm-back {
		// 	@media (max-width: @screen-sm-max) {
		// &::before {
		// 	background-color: @offcanvas-nav-cat-color;
		// 	content: '';
		// 	float: none;
		// 	height: 1em;
		// 	left: -1em;
		// 	mask: url('@{img-theme-path}svg/arrow-up-thin.svg');
		// 	mask-size: cover;
		// 	position: absolute;
		// 	transform: rotate(-90deg);
		// 	width: 1em;
		// }
		// 	}
		// }
		.navigation__overflow {
			@media (max-width: @screen-sm-max) {
				left: -380px;
				top: 0;
				height: 90.8vh;
				overflow-y: auto;
			}
		} // &.js-enquire-offcanvas-navigation .close-nav {
		// 	@media (max-width: @screen-sm-max) {
		// 		display: inline-block;
		// 		cursor: pointer;
		// 		height: @navigation--middle-height;
		// 		width: 20%;
		// 		vertical-align: top;
		// 		border-left: 1px solid @nav-border-color;
		// 		border-right: 1px solid @nav-border-color;
		// 	}
		// 	button {
		// 		@media (max-width: @screen-sm-max) {
		// 			background-color: @offcanvas-nav-header-background;
		// 			height: 100%;
		// 			width: 100%;
		// 			display: inline-block;
		// 			color: transparent;
		// 			overflow: hidden;
		// 			border: none;
		// 		}
		// 		span {
		// 			color: @offcanvas-nav-header-color;
		// 			font-size: 25px;
		// 		}
		// 	}
		// }
		&:before,
		&:after {
			content: ' ';
			display: table;
		}

		&:after {
			clear: both;
		}

		a {

			@media (min-width: @screen-lg-min) {
				padding: 20px 32px;
			}
		}

		.column-20-percent {
			float: left;
			width: 20%;
		}

		@media (max-width: @screen-sm-max) {
			width: 380px;
			position: absolute;
			left: -380px;
			z-index: 999;
			background-color: @offcanvas-nav-cat-background;

			li {
				float: none;
			}
		}

		@media (max-width: @screen-xs-max) {
			width: 100%;
			height: 83vh;
			left: -100%;
			margin-left: 0;
		}

		.nav__links--products {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 0;

			@media (max-width: @screen-sm-max) {
				&.active {
					left: -100%;
					position: relative;
				}
			}

			@media (max-width: @screen-sm-max) {
				background-color: @offcanvas-nav-cat-background;
				bottom: 0;
				left: 0;
				padding: 0;
				position: relative;
				right: 0;
				top: 0;
				z-index: 0;
			}
			@media @mquery-desktop {
				padding-left: 0;
				position: relative;
			}


			li {

				@media (max-width: @screen-sm-max) {
					float: none;
					overflow: hidden;
					background-color: @offcanvas-nav-cat-background;
					border-top: 1px solid @color-white;
					border-bottom: 1px solid @color-alto;
					position: relative;
				}
				&:nth-child(1) {
					border-top: 0;
				}
				&.active {
					@media (max-width: @screen-sm-max) {
						position: static;
					}
				}
				&.liUserSign {

					@media (max-width: @screen-sm-max) {
						// border-bottom: 1px solid @offcanvas-meta-nav-border-color;
						&:hover {
							background-color: @meta-nav-hover-background;
						}
					}

					a.userSign {
						color: @link-color-secondary;
						display: block;
						font-family: 'roboto-regular', arial, sans-serif;
						font-size: 32px;
						padding: 46px 56px;
						text-align: left;
						width: 100%;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					// color: @nav-cat-link-color;
					display: block;
					font-family: 'playfairdisplay-bold', serif;
					font-size: 48px;
					font-weight: 500;
					padding: 32px 48px;
					text-transform: uppercase;

					@media (max-width: @screen-sm-max) {
						// color: @offcanvas-nav-cat-color;
						display: block;
						margin-top: 0;
						text-transform: capitalize;
					}
					@media @mquery-desktop {
						color: @color-carnation;
						font-family: 'roboto-black', arial, sans-serif;
						font-size: 16px;
						margin: 22px 18px 22px 0;
						padding: 13px 18px;
					}
				}
			}

			.nav__links--secondary {

				display: none;
				background: @nav-subcat-background;
				position: absolute;
				z-index: 1000;
				left: 0;
				border: 1px solid @nav-border-color;
				border-top: 0;
				padding: 0 10px;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

				.sm-back {
					display: none;
				}


				.row {
					position: relative;
				}

				.sub-navigation-section {
					padding: 10px;
					position: static;
				}

				.sub-navigation-section.double {
					min-height: 1px;
					padding: 10px 0 10px 0;
					position: relative;
				}

				.sub-navigation-section .sub-navigation-section-column {
					float: left;
					padding: 0 10px;
				}

				.sub-navigation-section .sub-navigation-list {
					list-style: none;
					padding-left: 0;

					li {
						border-bottom: 1px solid @nav-subcat-border-color;

						&:last-child {
							border-bottom: 0;
						}

						a {
							color: @nav-subcat-color;
							display: block;
							line-height: 30px;
							padding-left: 5px;

							&:hover,
							&:focus {
								background-color: @nav-subcat-hover-background;
								text-decoration: none;
							}
						}
					}
				}

				.sub-navigation-list.has-title {
					margin-top: 40px;
				}

				.title+.sub-navigation-list.has-title {
					margin-top: 0;
				}
			}
		}

		.show-sub {
			.nav__link a {
				position: relative;

				@media @mquery-desktop {
					background-color: @color-carnation;
					color: @color-white;
				} // &:after {
				// 	border-bottom: 10px solid @nav-subcat-background;
				// 	border-left: 10px solid rgba(0, 0, 0, 0);
				// 	border-right: 10px solid rgba(0, 0, 0, 0);
				// 	bottom: 0;
				// 	content: '';
				// 	display: block;
				// 	height: 0;
				// 	left: 50%;
				// 	margin: 0 0 0 -10px;
				// 	position: absolute;
				// 	width: 0;
				// 	z-index: 1001;
				// }
			}

			.sub__navigation {
				display: block !important;
				top: @navigation--middle-height;
			}
		}

		.nav__link {
			display: inline-block;
			width: 100%;
		}


		.nav__links--primary-has__sub {

			@media (max-width: @screen-sm-max) {
				position: static;
			}

			.nav__link {
				@media (max-width: @screen-sm-max) {
					width: 80%;
				}
			}

			.nav__link--drill__down {
				color: @offcanvas-nav-cat-color;
				display: inline-block; // font-size: 0.6em;
				// min-height: 30px;
				// padding: 20px 0;
				// text-align: center;
				height: 100%;
				position: absolute;
				top: 0;
				width: 20%;
				.icon {
					background-size: 33%;
				}
			}
		}

		.nav__links--primary {

			&.active {
				@media (max-width: @screen-sm-max) {
					.sub__navigation {
						display: block;
					}
				}
				.sm-back {
					position: relative;
					.icon {
						height: 34px;
						.valign(50%,
						left,
						20px);
						transform: translateY(-50%) rotate(@icon-angle-left);
						width: 34px;
					}
				}
			}

			.sub__navigation {

				@media (min-width: @screen-md-min) {
					display: none;
					background: @color-concrete;
					position: absolute;
					z-index: 1;
					left: 0; // border: 1px solid @nav-border-color;
					// border-top: 0;
					padding: 0 10px; // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
					// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
				}
				@media (max-width: @screen-sm-max) {
					display: none;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 100%;
					width: 100%;
					padding: 0;
				}
			}

			.sm-back {
				@media (max-width: @screen-sm-max) {
					color: @offcanvas-nav-cat-color;
					border-bottom: 1px solid @offcanvas-nav-cat-border-color;
					font-size: 48px;
					padding: 32px 66px;

					&::after {
						content: ' ';
					}

					&::before {
						position: relative;
						top: 1px;
						display: inline-block;
						font-family: 'Glyphicons Halflings';
						font-style: normal;
						font-weight: 400;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: .8em;
						margin-right: 1em;
					}
				}
			}

			.row {
				@media (max-width: @screen-sm-max) {
					margin: 0;
				}
			}

			.sub-navigation-section {
				@media (max-width: @screen-sm-max) {
					padding: 0;
					background: @offcanvas-nav-cat-background;
				}

				@media (min-width: @screen-md-min) {
					border-right: 1px solid @color-alto;
					padding: 15px 44px 26px 26px;
					position: static;
				}
				&:nth-child(4n) {
					@media (min-width: @screen-md-min) {
						border-right: 0;
					}
				}
				&:nth-child(4n + 1) {
					@media (min-width: @screen-md-min) {
						padding: 15px 44px 26px 0;
					}
				}

				.title {
					color: @nav-subcat-title-color;
					font-family: 'roboto-bold', arial, sans-serif;
					font-size: 32px;
					@media (max-width: @screen-md-max) {
						color: @offcanvas-nav-cat-title-color;
					}

					@media (max-width: @screen-sm-max) {
						border-bottom: 1px solid @offcanvas-nav-cat-border-color;
						border-top: 1px solid @color-white;
						padding: 39px 31px;
					}
				}

				.sub-navigation-list {
					display: none;
					@media (max-width: @screen-sm-max) {
						margin-bottom: 0;
						padding-left: 0;
						list-style: none;
					}

					@media (min-width: @screen-md-min) {
						padding-left: 0px;
						list-style: none;
						margin-top: 0;

						a {
							display: block;
							color: @nav-subcat-color;
							line-height: 30px;
							padding: 0 0 0 5px;

							&:hover {
								background-color: @offcanvas-nav-cat-hover-background;
								text-decoration: none;
							}
						}
					}

					@media @mquery-desktop {
						display: block;
					}

					li {
						background-color: @color-white;
						border-bottom: 1px solid @offcanvas-nav-cat-border-color;
						display: block;
						float: none;
						position: relative;

						@media (min-width: @screen-md-min) {
							&:last-child {
								border: 0;
							}
						}

						&.nav__link--secondary {
							border: 0;
							a {
								font-family: 'roboto-regular', arial, sans-serif;
								font-size: 32px;
								padding: 55px 42px;
							}
						}
					}
				}
			}
		}

		.nav__links--mobile {

			&.offcanvasGroup1 {
				.offcanvasGroup2,
				.offcanvasGroup3 {

					li {
						// border-bottom: 1px solid @offcanvas-meta-nav-border-color;
					}
				}
			}

			@media (max-width: @screen-sm-max) {
				overflow: hidden;

				li {
					overflow: hidden;
					background-color: @offcanvas-meta-nav-background;
					border: none;

					a {
						color: @offcanvas-meta-nav-color;
					}
				}

				.subNavList {
					padding-left: 0;

					li {
						padding: 5px 0;
						background: @meta-nav-background;
						a {
							font-family: 'roboto-regular', arial, sans-serif;
							font-size: 32px;
						}
					}
				}
			}

			div.sub-nav {

				.myAccountLinksHeader,
				.myCompanyLinksHeader {
					@media (max-width: @screen-sm-max) {
						cursor: pointer;
						display: block;
						font-family: 'roboto-regular', arial, sans-serif;
						font-size: 32px;
						padding: 46px 56px;
					}
				} // a {
				// @media (max-width: @screen-sm-max) {
				// 	border-bottom: 1px solid @offcanvas-meta-nav-border-color;
				// }
				// span {
				// 	@media (max-width: @screen-sm-max) {
				// 		float: right;
				// 		line-height: 50px;
				// 		left: 0;
				// 		position: relative;
				// 		height: 30px;
				// 		top: -14px;
				// 	}
				// }
				// }
			}
		} // .userGroup {
		// 	@media (max-width: @screen-sm-max) {
		// 		align-items: center;
		// 		background-color: @offcanvas-nav-header-background;
		// 		display: flex;
		// 		color: @offcanvas-nav-header-color;
		// 		cursor: pointer;
		// 		float: left;
		// 		height: 115;
		// 		padding: 0 0 0 1em;
		// 		position: relative;
		// 		text-align: left;
		// 		width: 80%;
		// 	}
		// 	a {
		// 		@media (max-width: @screen-sm-max) {
		// 			border: none;
		// 			color: @offcanvas-nav-header-color;
		// 			&:hover {
		// 				background-color: transparent !important;
		// 			}
		// 		}
		// 	}
		// 	.myAcctUserIcon {
		// 		@media (max-width: @screen-sm-max) {
		// 			font-size: inherit;
		// 			height: 100%;
		// 			position: relative;
		// 			top: 0;
		// 			width: 10%;
		// 		}
		// 	}
		// 	.userName {
		// 		display: inline-block;
		// 		.ellipsisLines(2,
		// 		inherit);
		// 		font-family: 'roboto-light', arial, sans-serif;
		// 		font-size: 32px;
		// 		padding-left: 1em;
		// 		width: 70%;
		// 		>div {
		// 			.ellipsisString(100%);
		// 		}
		// 	}
		// 	#signedInUserOptionsToggle {
		// 		@media (max-width: @screen-sm-max) {
		// 			position: absolute;
		// 			right: 0;
		// 			top: 0;
		// 			height: 100%;
		// 			width: 100%;
		// 			padding: 0;
		// 		}
		// 	}
		// }
		// .js-nav-collapse {
		// 	[class*='glyphicon-'] {
		// 		@media (max-width: @screen-sm-max) {
		// 			font-size: 1em;
		// 			left: inherit;
		// 			line-height: @navigation--middle-height;
		// 			position: absolute;
		// 			right: 2vw;
		// 			top: 0;
		// 		}
		// 		@media (max-width: @screen-xs-max) {
		// 			left: 68vw;
		// 		}
		// 	}
		// }
	}

	main {

		@media (min-width: @screen-sm-min) {
			.transition(transform 0.3s ease-out);
		}
	}

	main.offcanvas {
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

			position: relative;
			-webkit-transform: translate(380px, 0);
			-ms-transform: translate(380px, 0);
			-o-transform: translate(380px, 0);
			transform: translate(380px, 0);
		}

		@media (max-width: @screen-xs-max) {
			position: relative;
			-webkit-transform: translate(100%, 0);
			-ms-transform: translate(100%, 0);
			-o-transform: translate(100%, 0);
			transform: translate(100%, 0);
		}
	} // .offcanvas .sticky-nav-top {
	// 	@media (max-width: @screen-xs-max) {
	// left: 0;
	// position: absolute; // height: @navigation--middle-height;
	// width: 100vw;
	// 	}
	// }
	// .sticky-nav-top {
	// @media (max-width: @screen-sm-max) {
	// position: absolute;
	// left: 0px;
	// top: -@navigation--middle-height;
	// width: 380px;
	// padding: 0px;
	// margin-bottom: 0; // z-index: 9999;
	// text-align: right;
	// }
	// @media (max-width: @screen-xs-max) {
	// position: absolute;
	// top: -@navigation--middle-height;
	// height: @navigation--middle-height;
	// left: -60px;
	// z-index: 999;
	// width: 100vw;
	// }
	// .liUserSign {
	// 	background-color: @offcanvas-nav-header-background;
	// }
	// .userSign {
	// 	@media (max-width: @screen-sm-max) {
	// 		color: @offcanvas-nav-header-color;
	// 		display: inline-block; // height: 60px;
	// 		text-align: left;
	// 		width: 80%;
	// 	}
	// 	.userGroup {
	// 		@media (max-width: @screen-sm-max) {
	// 			width: 100%;
	// 		}
	// 	}
	// }
	// }
	@media (max-width: @screen-sm-max) {

		html.offcanvas {
			overflow-x: hidden;
		}
	} //////////////////////////////////////
	//         nav-order-tools          //
	//////////////////////////////////////
	.nav-order-tools {
		position: relative;
		display: inline-block;
		cursor: pointer;

		@media (min-width: @screen-sm-min) {
			border-left: 0px;
			border-right: 1px solid @nav-border-color;
			padding: 0px 15px;
		}
		@media (min-width: @screen-md-min) {
			padding: 0px 30px;
		}
		@media (max-width: @screen-xs-max) {
			position: static;
		}

		&:before {
			position: relative;
			top: 23%;
			display: inline;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\e032';
			color: @nav-icon-color;
			font-size: 30px;

			@media (max-width: @screen-xs-max) {
				top: 3px;
			}
		}
	}

	.quote__list {
		position: relative;
		display: inline-block;
		cursor: pointer;

		width: (@btn-icon-font-size + @grid-gutter-width);
		text-align: right;

		a {
			font-size: @btn-icon-font-size;
			background-color: transparent;
			padding: 0;
			border: 0;
			color: @btn-primary-bg;

			.glyphicon {
				top: 4px;
			}
		}

		@media (min-width: @screen-sm-min) {
			border-left: 0px;
			padding: 0px (@grid-gutter-width - 5);
		}
		@media (min-width: @screen-md-min) {
			padding: 0px (@grid-gutter-width + 10);
		}
		@media (max-width: @screen-xs-max) {
			position: static;
		}
	}

	.js-nav-order-tools--active {
		.nav-order-tools__child-wrap {
			display: block;
		}
	}

	.js-nav-quote-list--active {
		.quote__list--nav {
			display: block;
		}
	}

	.quote__list--nav {
		text-align: left;
		position: absolute;
		border: 1px solid @nav-border-color;
		background-color: @nav-icon-dropdown-background;
		right: 40px;
		top: 26px;
		width: 260px;
		z-index: 10;

		a {
			font-size: @font-size-base;
			line-height: @line-height-base;
		}

		@media (max-width: @screen-xs-max) {
			width: 100vw;
			top: 103px;
		}

		a {
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			color: @text-color;
			padding: @grid-gutter-width @grid-gutter-width*1.5;

			&:hover {
				background-color: @nav-icon-hover-background;
				;
			}
		}
	}

	.nav-order-tools__child-wrap {
		font-size: @font-size-base;
		line-height: @line-height-base;
		text-align: left;
		position: absolute;
		border: 1px solid @nav-border-color;
		background-color: @nav-icon-dropdown-background;
		right: -1px;
		top: @navigation--middle-height;
		width: 260px;
		z-index: 10;

		@media (max-width: @screen-xs-max) {
			width: 100vw;
			top: 103px;
		}

		div {
			border-bottom: 1px solid @nav-icon-hover-background;

			&:last-child {
				border-bottom: none;
			}
		}

		a {
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			color: @text-color;
			padding: @grid-gutter-width @grid-gutter-width*1.5;

			&:hover {
				background-color: @nav-icon-hover-background;
				;
			}
		}
	}
