/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

#colorbox,
#cboxOverlay,
#cboxWrapper {
	position: absolute;
	top: 0;
	z-index: 9999;
	overflow: hidden;
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}



/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay {
	background: #000;
}

#colorbox {
	outline: 0;
}

#cboxTopLeft {
	width: 14px;
	height: 14px;
}

#cboxTopCenter {
	height: 14px;
}

#cboxTopRight {
	width: 14px;
	height: 14px;
}

#cboxBottomLeft {
	width: 14px;
}

#cboxBottomCenter {
	height: 43px;
}

#cboxBottomRight {
	width: 14px;
}

#cboxMiddleLeft {
	width: 14px;
}

#cboxMiddleRight {
	width: 14px;
}

#cboxContent {
	background: #fff;
	overflow: visible;
}

.cboxIframe {
	background: #fff;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
} // #cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay {}

#cboxLoadingGraphic {}

#cboxCurrent {
	position: absolute;
	bottom: -25px;
	left: 58px;
	font-weight: bold;
	color: #7C7C7C;
}



/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious,
#cboxNext,
#cboxSlideshow {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	position: absolute;
	bottom: -29px;
	width: 23px;
	height: 23px;
	text-indent: -9999px;
}



/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
	outline: 0;
}

#cboxPrevious {
	left: 0px;
	background-position: -51px -25px;
}

#cboxPrevious:hover {
	background-position: -51px 0px;
}

#cboxNext {
	left: 27px;
	background-position: -75px -25px;
}

#cboxNext:hover {
	background-position: -75px 0px;
}

.cboxSlideshow_on #cboxSlideshow {
	background-position: -125px 0px;
	right: 27px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
	background-position: -150px 0px;
}

.cboxSlideshow_off #cboxSlideshow {
	background-position: -150px -25px;
	right: 27px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
	background-position: -125px 0px;
} // #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
@cboxTitleHeight: 88px;
@cboxTitleLineHeight: 24px;


#cboxTitle {
	background: transparent;
	position: absolute;
	top: 0;
	padding: 43px 40px 15px;
	height: @cboxTitleHeight;
	display: table;
	width: 100%;

	.headline {
		font-size: 1.1rem;
		font-family: PlayfairDisplay;
		font-weight: bold;
		line-height: @cboxTitleLineHeight;
		vertical-align: middle;
		width: 100%;
	}
}

#cboxClose {
	position: absolute;
	right: 13px;
	top: 10px;
	background: transparent;
	border: 0 none;
	color: @modal-close-btn-color;
	padding: 5px;
	font-size: 25px;
}

#cboxLoadedContent {
	margin-top: 0;
	padding: 15px @grid-gutter-width*2 (@grid-gutter-width + 10) @grid-gutter-width*2;
	h1 {
		font-size: 1.3rem;
		text-align: center;
	}
	.actions {
		text-align: center;
	}
	#savedpaymentsbody {
		form {
			font-size: 0.7rem;
			div>strong {
				font-size: 0.8rem;
			}
			button {
				margin-bottom: 20px;
				padding: 0.5em 2em;
			}
		}
	}

	.add-to-cart-item {
		margin-bottom: @grid-gutter-width*2;
	}

	.saved-payment-entry+.saved-payment-entry {
		margin-top: 55px;
	}

	.addressBook-flex {
		display: flex;
		overflow: auto;
		&>.addressEntry {
			flex: 1;
			margin: 1rem;
			width: 8.5rem;
		}
	}

	.addressEntry ul,
	.saved-payment-entry ul {
		margin-top: -@grid-gutter-width/2;
		margin-bottom: @grid-gutter-width;
	}

	.modal-details {
		line-height: 1.8em;
	}
	.modal-actions {
		margin-top: @grid-gutter-width;

		.btn {
			margin-top: @grid-gutter-width;
		}
	}
}


@media (max-width: @screen-xs-max) {
	#cboxTitle {
		height: @cboxTitleHeight + @cboxTitleLineHeight;
		padding-left: @grid-gutter-width;
		padding-right: @grid-gutter-width;
		.clearfix;
	}

	#cboxLoadedContent {
		margin-top: 2rem;
		padding: 15px @grid-gutter-width;
		.addressEntry ul {
			margin-top: -(@grid-gutter-width + 5);
		}
	}
}

.modal__top {
	padding-bottom: (@grid-gutter-width + 12);
	margin-bottom: (@grid-gutter-width + 10);
	border-bottom: 1px solid @border-color;
}

.modal__top .modal__top--label {
	color: @text-color;
	font-weight: bold;
	font-style: italic;
}

.modal__top .modal__top--text {
	font-style: italic;
}

.modal__text--bold {
	font-weight: bold;
}

.modal__bottom {
	margin-bottom: (@grid-gutter-width * 2);
	font-size: 15px;
}

.quote-discount__modal--label {
	font-size: 15px;
	font-weight: 600;
	color: @text-color;
	text-transform: capitalize;
	vertical-align: middle;
	display: table-cell;
	height: 40px;
}

.quote-discount__modal--input {
	margin-bottom: (@grid-gutter-width - 3);
	width: 100%;

	input[type=number] {
		-moz-appearance: textfield;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.quote-discount__modal--input__label {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	padding-right: (@grid-gutter-width / 2);
	width: 25px;
	text-align: right;
}

.quote-discount__modal--original__total {
	font-size: 15px;
	font-style: italic;
	border-bottom: 1px solid @border-color;
	color: @text-color;
	padding-bottom: (@grid-gutter-width - 7);
	margin-bottom: (@grid-gutter-width - 11);
	margin-top: (@grid-gutter-width / 2);
}

.quote-discount__modal--new__total {
	color: @text-color;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: (@grid-gutter-width + 27);
}
