@screen-xs-extra: @screenXsExtra;
@screen-xs: @screenXs;
@screen-sm: @screenSm;
@screen-md: @screenMd;
@screen-lg: @screenLg;

@screen-xs-extra-min: @screenXsExtraMin;
@screen-xs-min: @screenXsMin;
@screen-sm-min: @screenSmMin;
@screen-md-min: @screenMdMin;
@screen-lg-min: @screenLgMin;

@screen-xs-extra-max: @screenXsExtraMax;
@screen-xs-max: @screenXsMax;
@screen-sm-max: @screenSmMax;
@screen-md-max: @screenMdMax;
